page-deviceerror {
  .scroll-content {
    overflow: overflow;
  }
  .button-none {
    background: none !important;
    color: map-get($colors, primary) !important;
    font-weight: bold;
    box-shadow: none;
    text-transform: none;
    margin-top: -3px;
    padding: 0px;
  }
  .notes {
    font-size: 18px;
    text-align: center;
  }
  .response{
    font-size:14px;
  }
}
