page-health-condition{
    .item {
        background: none !important;
        padding-left: 0px !important;
      }

      .item.item-md .checkbox-md{
          margin:10px;
      }
      .col{
        padding-bottom:3px !important;
    }
  
}