<!-- <ion-card>
    <ion-label margin-left>Phone No:</ion-label>
    <ion-input type="text" placeholder="Phone Number" class="input-large"  [(ngModel)] = "contact.phoneNumber"></ion-input>

    <ion-label margin-left>Name:</ion-label>
    <ion-input type="text" placeholder="Phone Number" class="input-large" margin-bottom [(ngModel)] = "contact.contactName"></ion-input>

    <ion-label margin-left>Birth Month & Year:</ion-label>
    <ion-input type="text" placeholder="Phone Number" class="input-large" margin-bottom [(ngModel)] = "contact.contactAge"></ion-input>

    <ion-label margin-left>Gender:</ion-label>
    <ion-input type="text" placeholder="Phone Number" class="input-large" margin-bottom [(ngModel)] = "contact.contactGender"></ion-input>
</ion-card> -->