page-openingHours-list {
    .even {
      background: whitesmoke;
      color: map-get($colors, primary);
    }
    .odd {
      background: map-get($colors, white-a);
      color: map-get($colors, primary);
      ;
    }
    .label {
      margin: 0px !important;
      font-weight: normal;
      font-size: 14px !important;
    }
    .header2 {
      font-weight: bold;
      background: map-get($colors, primary);
      color: map-get($colors, white-a);
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .icon-small {
      font-size: 20px !important;
      color: white !important;
    }
    .sliding_btn {
      background: map-get($colors, primary);
      font-size: small;
      color: map-get($colors, white-a) !important;
      border: 1px solid map-get($colors, primary) !important;
      width: 60px !important;
    }
    #button{
      padding-left: 16px!important;padding-top: 10px!important;
    }
    .col {
      text-align: center;
    }
  }