page-appointment-list {
  .col {
    padding: 0px;
  }
  .label {
    font-weight: normal;
    margin: 0px !important;
  }
  .border-a {
    border: 1px solid map-get($colors, white-a) !important;
    width: 60px;
  }
  .list-md {
    margin-bottom: 1px solid red !important;
  }
  .list-ios {
    margin-bottom: 1px solid red !important;
  }
  .label-c {
    color: map-get($colors, white-a);
  }
  .devider {
    text-align: center;
    background: map-get($colors, primary);
    font-size: 18px;
    font-weight: bold;
    color: map-get($colors, white-a) !important;
  }
  .item-md {
    border-bottom: 1px solid map-get($colors, dark) !important;
    padding-left: 0px !important;
  }
  .item-ios {
    border-bottom: 1px solid map-get($colors, dark) !important;
    padding-left: 0px !important;
  }
  .item-md p {
    margin: 0 0 6px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
  }
  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    color: white;
    opacity: 1;
    background: map-get($colors, primary);
  }
  .segment-md {
    margin: 10px;
  }
  .item-ios p {
    margin: 0 0 6px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
  }
  .segment-ios .segment-button.activated,
  .segment-ios .segment-button.segment-activated {
    color: white;
    opacity: 1;
    background: map-get($colors, primary);
  }
  .segment-ios {
    margin: 10px;
  }
  ion-segment {
    width: calc(100% - 20px) !important;
  }
  .segment-button {
    border: 1px solid map-get($colors, primary);
    border-bottom: 1px solid map-get($colors, primary) !important;
  }
  .segment-button:first-of-type {
    border-radius: 10px 0px 0px 10px;
  }
  .segment-button:last-of-type {
    border-radius: 0px 10px 10px 0px;
  }
  .marginBottom {
    margin-bottom: 10px !important
  }
  body {
    background-color: #eee;
  }
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
}

ion-app.ios[padding-right] {
  padding-right: 8px !important;
}

ion-app.md[padding-right] {
  padding-right: 8px !important;
}

ion-app [padding-top] {
  padding-top: 8px !important;
  padding-left: 0px !important;
}

.list-md {
  margin: 0px;
}

.list-ios {
  margin: 0px;
}
