<ion-header>
  <header-main [title]="title"></header-main>
</ion-header>

<ion-content>
  <ion-item-group detail-push no-padding *ngIf = "appointment|async as appointment;else loadingOrError">
    <ion-list *ngFor="let appointment of appointments"  lines>

      <ion-item *ngIf="appointment?.status == 'closed'" (click)="viewAppointment(appointment._id, appointment.patient._id)" lines padding-left padding-top no-margin>
        <ion-row>
          <ion-col class="primary medium" text-capitalize>
            {{appointment?.member?.firstName}} {{appointment?.member?.lastName}}
            <i class="age"
              no-padding no-margin>
              ({{appointment?.member?.age}}years)</i>
          </ion-col>
          <ion-col>
            <b float-right class="number" padding-right>APMT35462</b>
          </ion-col>
        </ion-row>
        <ion-row no-margin>
          <ion-col class="phoneIcon">
            <ion-icon name="call" class="phone"></ion-icon> {{appointment?.member?.phone}}</ion-col>

          <ion-col text-capitalize>
            <p float-right padding-right class="large" id="doctor" >
              <img src="../../../assets/imgs/images.jpg" class="doctorIcon" no-padding no-margin> Dr.{{appointment?.doctor?.firstName}} {{appointment?.doctor?.lastName}}</p>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin>
          <ion-col>
            <div class="emailIcon">
              <ion-icon name="mail" class="email"></ion-icon> {{appointment?.member?.email}}
            </div>
          </ion-col>

          <ion-col>
            <p float-right padding-right class="symptoms">{{appointment.symtoms}} </p>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px" padding-bottom no-margin>
          <ion-col>
            <div class="timeIcon">
              <ion-icon name="timer" class="time"></ion-icon> {{appointment?.appointmentDate | date}} {{appointment?.appointmentTime}}AM
              <i *ngIf="appointment?.status != 'closed'" style="color:darkgray">(Due:1hr 20min){{appointment?.dueIn}}</i>
            </div>
          </ion-col>
          <ion-col col-3 padding-right>
            <b class="status border" float-right padding-right>{{appointment?.status}}</b>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </ion-item-group>

  <ng-template #loadingOrError>
      <page-loading [center] ='center'></page-loading>
    </ng-template>

</ion-content>
