page-patient-health-step2 {
  .label {
    margin: 0px !important
  }
  .col {
    padding: 3px;
  }
  .primary {
    color: map-get($colors, primary)
  }
  .label-a {
    text-align: center;
  }
  .item-md {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid map-get($colors, light);
  }
  .item-ios {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid map-get($colors, light);
  }
  .item-wp {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid map-get($colors, light);
  }
}

ion-app.md [padding-bottom] {
  padding-bottom: 0px !important;
}
