call-contact {
  ion-avatar img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
  }
  .item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0); //color: white; 
  }
  .icon{
    font-size:25px;
    color:white
  }
  #small-icon {
    color: map-get($colors, white-a);
    font-size: 22px;
    margin-right: 5px
  }
}
