<ion-label margin><b>Patinet Details:</b></ion-label>
<ion-item no-lines>
    <ion-row>
        <ion-col col-6>Mobile Number</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col>{{patient?.phoneNumber}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>Name</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col>{{patient?.name}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>Age</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col>{{patient?.age}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>Gender</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col>{{patient?.gender}}</ion-col>
    </ion-row>
</ion-item>