<ion-header>
    <header-main [title]='title'></header-main>
</ion-header>

<ion-content class="content">
    <ion-row>
        <ion-col col-9>
            <ion-label class="message" text-wrap padding>Hello paru, this is Asha how can i help you? </ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="label-q" margin no-padding>05:20</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3>
            <ion-label class="label-m" margin no-padding>05:22</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="message1" text-wrap padding>I just want to know about your application. </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3>
            <ion-label class="label-m" margin no-padding>05:23</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="message1" text-wrap padding>Can you please explain... </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-9>
            <ion-label class="message" text-wrap padding>Yeah sure.. </ion-label>
        </ion-col>
        <ion-col>
            <ion-label style="margin-top:37px" margin no-padding>05:25</ion-label>
        </ion-col>
    </ion-row>

    <div *ngIf="messages != null">

        <ion-row *ngFor="let message of messages">

            <ion-col col-9>
                <ion-label class="message" text-wrap padding>{{message.my_message}}</ion-label>
            </ion-col>
            <ion-col>
                <strong style="color:#006600" margin no-padding>{{message.currentDate | date :"HH:mm"}}</strong>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer no-padding no-margin>
    <ion-row>
        <textarea placeholder="Type Here.." class="type" [(ngModel)]="my_message" no-padding></textarea>
        <button ion-button (click)="send(my_message)">Send</button>
    </ion-row>
</ion-footer>