<ion-header>
  <header-main [title]='title'></header-main>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tabIndex">
    <ion-segment-button value="0">
      Personal Details
    </ion-segment-button>
    <ion-segment-button value="1">
      Address
    </ion-segment-button>
  </ion-segment>
 
  
  <div [ngSwitch]="tabIndex" *ngIf="profile">
    <ion-card padding-bottom *ngSwitchCase="0" lines>
      <profile-form [profile]='profile' [center] = 'center'></profile-form>
    </ion-card>
    <ion-card padding-bottom *ngSwitchCase="1" lines >
      <address-form   *ngIf="profile| async;let profile" [address]='profile.address'></address-form>
    </ion-card>
  </div>
 
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button ion-button class="button-footer" (click)="cancel()"> Cancel </button>
    </ion-col>
    <ion-col col-6>
      <button  ion-button class="button-footer" *ngIf="profile| async;let profile1" (click)="update(profile1)"> Update </button>
    </ion-col>
  </ion-row>
</ion-footer>
