page-profile-edit {
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .scroll-content {
    overflow: scroll;
    margin-bottom: 50px !important;
  }
  .footer {
    bottom: 0px !important;
  }
}
