page-patient-health-view {
  .label {
    margin: 0px !important
  }
  .col {
    padding: 3px;
  }
  .primary {
    color: map-get($colors, primary)
  }
  .item-md {
    background: none !important;
  }
}
