page-chat-details {
  .message {
    color: map-get($colors, primary);
    background-color: map-get($colors, white-a);
    margin-left: 3%;
  }
  .message1 {
    color: map-get($colors, primary);
    background-color: #99cc99;
  }
  .icon1 {
    font-size: 40px !important;
    color: map-get($colors, white-a) !important;
  }
  .type {
    border: 5px solid map-get($colors, white-a);
    width: 76%;
    background: map-get($colors, white-a);
    margin: 2%;
    height: 65px
  }
  ion-label {
    border-radius: 200px;
  }
  .item-md[detail-push] .item-inner,
  button.item-md:not([detail-none]) .item-inner,
  a.item-md:not([detail-none]) .item-inner {
    float: right;
    background-position: right 0px center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
  }
  .item-ios[detail-push] .item-inner,
  button.item-ios:not([detail-none]) .item-inner,
  a.item-ios:not([detail-none]) .item-inner {
    float: right;
    background-position: right 0px center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding-left: 5px !important;
  }
  .scroll-content {
    overflow: scroll;
    margin-bottom: 56px !important;
  }
}
