page-update-management {
  .button-md {
    margin: 10px !important;
    width: calc(100% - 20px) !important;
  }
  .button-ios {
    margin: 10px !important;
    width: calc(100% - 20px) !important;
  }
}
