page-loading{
      .p1 {
        display: block;
        font-size: 15px;
        padding: 5px 10px;
        color: map-get($colors, primary);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%)/* required */
        translateX(-50%);
      }
      .dots{
        margin-bottom: -12px !important;
      }
}