page-home {
  .card1 {
    margin-top: 15%;
    padding: 3%;
  }
  .orders {
    color: gray;
    padding: 5px;
    font-size:15px;
  }
  .orderss {
    background-color: whitesmoke;
    border: 1px solid wheat;
    border-radius: 0px;
    padding: 2px;
    text-align: center;
    height: 100px;
  }
  .icon-style {
    padding-top: 12px;
    padding-bottom: 6px
  }
}
