header-sub{
    .spinner{
        align-content: center;
        text-align: center;
    }
    .text{
        color:map-get($colors, primary) !important;
        font-size:14px;
    }
    .center{
        text-align: center;
    }
}