page-invoice-add {
  .label-md {
    margin: 3px 8px 3px 5%;
    color: map-get($colors, dark);
    font-size: 16px;
  }
  .text-input-md {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    height: 27px !important;
    padding-bottom: 2 !important;
    text-align: center !important;
  }
  .border {
    border-top: 1px solid map-get($colors, dark);
    border-left: 1px solid map-get($colors, dark);
  }
  .status {
    background-color: map-get($colors, blue-a);
    color: map-get($colors, white-a);
  }
  .border-1 {
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    border-radius: 6px;
  }
  .margin{
    margin-bottom:0px!important;margin-top:8px!important;
  }
  #margin{
    margin-top:0px!important;margin-left:16px;margin-right:16px;
  }
  .border-a {
    color: map-get($colors, lue-a) !important;
    font-size: 14px;
    border: 1px solid map-get($colors, blue-a);
    width: 95px !important;
    text-align: center;
    border-radius: 5px;
  }
  .border-bottom {
    border-bottom: 1px solid map-get($colors, dark);
  }
  .border-right {
    border-right: 1px solid map-get($colors, dark);
  }
  ion-input {
    border: none;
    color: map-get($colors, dark);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    text-align: center !important;
  }
  .button-add1 {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: map-get($colors, primary);
    float: right;
    bottom: 110px;
    right: 20px !important;
    position: fixed;
  }
  .label-a {
    font-size: 12px;
    color: map-get($colors, primary);
    margin-left: -7%;
  }
}
