<!-- <ion-card>
    <ion-item>
        <ion-row>
            <ion-col col-6>Name</ion-col>
            <ion-col col-1>:</ion-col>
            <ion-col>{{patient.firstName}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>Contact Number</ion-col>
            <ion-col col-1>:</ion-col>
            <ion-col>{{patient.phone}}</ion-col>
        </ion-row>
    </ion-item>
</ion-card>

<ion-card>
    <ion-label>Enter OTP:</ion-label>
    <ion-input type="number" placeholder="enter otp"></ion-input>
    <p style="color:#999999;margin-left:5%;margin-right:5%"><i>enter OTP that we have sent to you to your phone number</i></p>
</ion-card> -->
