<ion-card>
  <ion-row *ngFor="let prescriptionItem of prescriptionItem">
    <ion-col col-3> {{prescriptionItem.medicine}}-{{prescriptionItem.composition}}</ion-col>
    <ion-col col-2>
      <span *ngIf="prescriptionItem.morningDose">1-</span><span *ngIf ="prescriptionItem.morningDose != true">0-</span>
      <span *ngIf="prescriptionItem.afternoonDose">1-</span> <span *ngIf ="prescriptionItem.afternoonDose != true">0-</span> 
      <span *ngIf="prescriptionItem.eveningDose">1</span> <span *ngIf ="prescriptionItem.eveningDose != true">0</span></ion-col>
    <ion-col col-2> {{prescriptionItem.timings}}times</ion-col>
    <ion-col col-2> {{prescriptionItem.noOfDays}}days</ion-col>
    <ion-col col-2> {{prescriptionItem.beforeAfter}}</ion-col>
  </ion-row>
</ion-card>
