<ion-header>
  <header-main [title]="title"></header-main>
</ion-header>

<ion-content>

  <ion-list *ngIf = 'prescriptions|async as prescription;else loadingOrError'> 
    <div  no-padding no-margin>
      <ion-item (click)="viewprescription(prescription._id)" *ngFor="let prescription of prescription" lines padding-left padding-top no-margin>
        <ion-row>
          <ion-col class="medium primary" text-capitalize>
            {{prescription?.member?.firstName}}{{prescription.member.lastName}}
            <i class="age" no-padding no-margin>
              ({{prescription.member.age}} years)</i>
          </ion-col>
          <ion-col class="number" >
            <b float-right padding-right>PRE123</b>
          </ion-col>
        </ion-row>

        <ion-row no-margin>
          <ion-col id="phoneIcon">
            <ion-icon name="call" class="phone"></ion-icon> {{prescription.member.phone}}</ion-col>
          <ion-col text-capitalize>
            <p float-right class="doctor" padding-right>
              <img class="doctorIcon" src='../../../assets/imgs/doctor.jpg' /> Dr.{{prescription?.doctor?.firstName}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row no-padding no-margin>
          <ion-col class="history">{{prescription.member.phone}}</ion-col>
          <ion-col>
            <p float-right padding-right class="symptoms">cold,fever</p>
          </ion-col>
        </ion-row>
        
      </ion-item>
    </div>
  </ion-list>

  <ng-template #loadingOrError>
      <page-loading [center]= 'center'></page-loading>
    </ng-template>

</ion-content>
