page-prescription-drug-form{
   
}
.toggle-md {
    position: relative;
    width: 36px;
    height: 14px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: strict;
    padding: 4px;
    margin: 0px;
}