<ion-header>
  <header-main [title]="title"></header-main>
</ion-header>

<ion-content>
  <ion-label margin-top class="textCenter">
    <u>Step 2 of 2 </u>
  </ion-label>

  <ion-card *ngIf = "clinicPatient|async;let clinicPatient;else loadingOrError">
    <ion-row>
      <ion-col col-7 no-margin padding-left class="medium dark" text-capitalize>
        <b>{{clinicPatient?.member?.firstName}} {{clinicPatient?.member?.lastName}}</b>
        <i no-padding no-margin class="small x-light">({{clinicPatient?.member?.age}}age)</i>
      </ion-col>
      <ion-col padding-right no-margin class="small light" text-capitalize>
        <div float-right>Dr.{{user?.user?.firstName}} {{user?.user?.lastName}} </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-8 padding-left no-margin class="small x-light">{{clinicPatient?.member?.phone}}</ion-col>
      <ion-col padding-right no-margin class="small dark">
        <div float-right>{{appointment?.symtoms}}</div>
      </ion-col>
    </ion-row>

    <ion-row padding-bottom>
      <ion-col col-8 padding-left no-margin class="x-small light">{{appointment?.appointmentDate |date}},{{appointment?.appointmentTime}}</ion-col>
    </ion-row>
  </ion-card>

  <div class="div1"  *ngIf = "clinicPatient|async;let clinicPatient">
    <ion-row>
      <ion-col>
        <button ion-button (click)="editappointment()">Edit</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="confirm(clinicPatient)">Confirm</button>
      </ion-col>
    </ion-row>
  </div>

  <ng-template #loadingOrError>
      <page-loading [center] ='center'></page-loading>
    </ng-template>

</ion-content>
